<div class="title"><center><h1>Stupid Coaching </h1></center></div>
<br><br><br><br><br>

<div class="question">
<div class="style"><p><strong><%=@question%></strong></p>
<p> -You </p>
</div>

<div class="answer">
<p>-Your coach<p>
<div class="styleanswer"><p> <%=@answer%> </p>
</div>
