body{
  background-color: black
}
.question{

  text-align: center;
  background-color: grey;
}
.style{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  background-color: white;


}
.answer{
  text-align: center;

}
.styleanswer{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}
.title{
  color: white;
}
